* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
::-webkit-scrollbar {
  width: 0;
}
main {
  background-color: rgba(149, 15, 245, 0.15);
}



/* Text styles */
.text {
  font-family: "Montserrat", sans-serif;
}
.text-header {
  font-size: 5.63vw;
  font-weight: 800;
}
.text-point {
  font-size: 3.65vw;
  font-weight: 700;

  margin: 7% 0 5%;
  text-align: center;
}
.text-subpoint {
  font-size: 2.60vw;
  font-weight: 700;
}
.text-main {
  font-size: 1.46vw;
  font-weight: 400;
}
.text-chin{
  font-family: "Noto Serif SC", serif;
  font-size: 1.46vw;
  font-weight:100;
}
.white {
  color: white;
}
.purple {
  color: #790cc7;
}



/* Menu */
header{
  position: relative;
  z-index: 100;
  top: 0;
  width: 100%;
}
.menu-button {
  background: none;
  border: none;
  cursor: pointer;
  position: fixed;
  top: 55px;
  right: 27px;
  z-index: 101;
}
.menu {
  position: fixed;
  /* top: 0; */
  right: -100%;
  height: 100%;
  background-color: rgba(149, 15, 245, 0.3);
  transition: right 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: right;
  /* padding: 15px; */
  backdrop-filter: blur(5px);
}
.menu.open {
  right: 0;
}
.close-button {
  margin: 0 20px;
}
.menu ul {
  list-style: none;
}
.menu li {
  margin: 60px 20px 0 120px;
}
.menu li a, footer ul li a {
  text-decoration: none;
}
#menuButton {
  display: inline-block;
  width: 10vw;
  height: auto;
  /* padding: 0; */
  background: none;
  border: none;
  cursor: pointer;
}




/* main-block */
#main {
  background-image: url("../src/main.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;

  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}

#main-header {
  text-align: center;
  margin: 12% 0 5%;
  font-family: 'Roboto', sans-serif;
}
#main-content {
  display: flex;
  flex-direction: row;
  text-align: center;
  padding: 0 100px;
  gap: 1rem;
}
#ch-text {
  display: flex;
  flex-direction: column;
  gap: 1rem;

}
#ch-text .text-main{
  flex: 1;
  font-family: 'Noto Serif SC', serif;
}


/* intro-block */
#intro{
  margin: 5%;
}
#intro-header {
  margin: 7% 0 5%;
  text-align: center;

}
.intro-main {
  text-align: center;
}
.intro-main p{
  margin: 2%;
}


/* whywe-block */
#whywe {
  text-align: center;

  margin: 1%;
}

#conteiner-items {

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  gap: 12px;
  width: 100%;
  height: 100vh;

  position: relative;
  height: 400vh;
}

.item-wrapper {
  background-color: #790cc7;
  width: calc((100% - 24px) / 3);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 30px;

  position: relative;
  padding: 20px;
  margin-bottom: 20px;
  border: 1px solid black;

  height: 100vh;
}

.item {
  border: 3px solid #25043d;
  text-align: center;
  width: 100%;
  height: 100%;

  padding: 20px;
}
.item-header {
  font-size: 3vw;
  margin: 20% 0;
}
.item-main {
  display: flex;
  flex-direction: column;
  gap: 2%;
  margin-top: auto;
}
.item-main p {
  margin: 5% 0;
  /* font-size: 1.5rem; */
}
#item0 {
  position: sticky;
  top: 0;
  z-index: 3;
}
#item1 {
  position: sticky;
  top: 0;
  z-index: 2;
  margin-top: 100vh;
}
#item2 {
  position: sticky;
  top: 200vh;
  z-index: 1;
}


/* services-block */
@layer base, rhythm, layout, components, default, overwrites;

.services-main{
  timeline-scope: --section, --main, --site-header;
  view-timeline: --main;
}
.services-main .item-wrapper{
  width: 50%;
}

.section {
  scroll-snap-align: start;
  scroll-snap-stop: always;
  view-timeline: --section;
  height: 100vh;
}
.content {
  overflow: hidden;
  position: fixed;
  inset: 0;
  --contrast: 4;


  --blur: 0.5rem;
  animation: blink ease-in-out both;
  animation-timeline: --section;
  color: #fff;
  display: flex;
}
@keyframes blink {
  0%, 100% {
    filter: blur(var(--blur)) contrast(var(--contrast));
    opacity: 0;
    visibility: hidden;
  }

  50% {
    filter: blur(0) contrast(1);
    opacity: 1;
    visibility: visible;
  }
}
.services-main .item-wrapper {
  background-color: #790cc7;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 30px;

  position: relative;
  padding: 20px;
  margin-bottom: 20px;
  border: 1px solid black;

  height: 100vh;
}

.services-main .item {
  border: 3px solid #25043d;
  text-align: center;
  width: 100%;
  height: 100%;
  padding: 20px;
  display: flex;
}
.services-main .item-header {
  font-size: 3vw;

  margin: auto;
  align-items: center;
  justify-content: center;
}
.services-main .item-main {
  display: flex;
  flex-direction: column;
  gap: 2%;
  margin: 0 0 0 0;

  color:#25043d;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.services-main .item-main p{
  margin:  0;
  font-size: 1.5rem;
  color:#25043d;
}
.services-main .item-main ul {
  margin:  0;
  font-size: 1.5rem;
  list-style-type: '- ';
  display: flex;
  flex-direction: column;
  align-items: center;
  color:#25043d;
}



/* Contact */
#contacts {
  margin: 0 3%;
}
#contacts-header {
  text-align: center;
  margin: 0;
}

#contacts .contacts-main {
  display: flex;
  flex-direction: row;
  gap: 30px;
  /* justify-content: space-evenly; */
  width: 100%;
}
#contacts .item-wrapper, #contacts .social-wrapper{
  flex:1;
  height:auto;
}
.contacts-main .item-wrapper img,
.social-wrapper img  {
  width: 12%;
}
.social-wrapper .item {
  border: 0;
}
#contacts #contacts-header{
  margin: 5%;
}
#contacts .item-header{
  margin: 1% 0 5% 0;
}
.social-wrapper .item-header{
  margin: 10% ;
}

.contact-item {
  display: flex;
  flex-direction: row;
  align-items: center;

  margin: 5% 10%;
  text-align: left;
}
.contact-item p {
  margin: 0 5%;
font-size: clamp(14px, 2vw, 36px);
  font-weight: 400;
}
.social-item a{
  text-decoration: none;
}


/* Footer */
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #790cc7;
  color: white;
  padding: 20px 40px;
}
footer .logo {
  font-size: 2rem;
  font-weight: bold;
}
footer ul {
  border-left: 1px solid #fff;
}
footer .nav {
  list-style: none;
  margin: 0;
  padding: 0;
}
footer .nav li {
  margin: 5px 0 0 5px;
}
footer .nav li:first-child {
  margin-top: 0;
}
footer .nav li:last-child {
  margin-bottom: 0;
}
footer .contacts {
  text-align: right;
}
footer .contacts a {
  text-decoration: none;
  color: white;
}
footer .contacts .icons {
  margin-top: 10px;
}
footer .contacts .icons img,
footer .contacts img {
  width: 32px;
  height: 32px;
  margin-left: 10px;
  color: white;
  filter: contrast(0%) brightness(100%);
}



@media (max-width: 2560px){
  #services .text-main {
    font-size: 1.7vw;
  }
  }

@media (max-width: 1440px){
  #main{
    height: 70vh;
  }
  }

@media (max-width: 1024px){
#main{
  height: 70vh;
}
}

@media (max-width: 810px){
  #main{
    height: 40vh;
  }

  #whywe .item-wrapper{
    height: 40vh;
  }
  #whywe .text-subpoint{
    font-size: 2.4vw;
  }



  #services .section{
    height: 40vh;
  }
  #services .item-wrapper {
    height: 40vh;
  }
  #services .content {
    margin-top: 1vh;
    position: relative;
    animation: none;
  }
}


@media (max-width: 800px){
  #main{
    height: 60vh;
  }
  #whywe .item-wrapper{
    height: 70vh;
  }
  #services .content {
    margin-top: 3vh;
  }
  .close-button{
    width: 50%;
  }

}
@media (max-width: 480px){
  #main{
    height: 20vh;
  }
  #main-content{
    flex-direction: column;
    padding: 0;
  }
  #main-content p{
    font-size: 2vw;
  }
  #conteiner-items{
    flex-direction: column;
    gap: 10px;
    margin:auto;
    height:100vh;
  }
  #whywe .item-wrapper{
    width: 100%;
    margin:0;
    height: 40vh;
    position: relative;
    margin:0;
    top:0;
    z-index:0;
  }
  #whywe .item-header{
    margin:0;
    font-size: 7vw;
  }
  #whywe .item-main p{
    display: block;
    font-size: 3vw;
  }




  #services .content {
    flex-direction: column;
    height: auto;
  }
  #services .section{
    height: auto;
  }
  .close-button{
    width: 50%;
  }
  #services .item-wrapper{
    height: 10vh;
  }
  #services .item{
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .section3 .item-main,.section4 .item-main{
    order: 2;
  }
  #services .text-main {
    font-size: 3vw;
  }
  #services .item-header {
    font-size: 4vw;
  }
  .section3 .item-wrapper,.section4 .item-wrapper{
    order: 1;
  }

  #contacts .contacts-main {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap:0;
  }
  #contacts .item-wrapper{
    width:100%;
  }

  .text-point{
    font-size: 5vw;
  }

  #intro .text-main{
font-size: 3vw;
  }


  footer .contacts .icons img,
footer .contacts img {
  width: 20px;
  height: 20px;
  margin-left: 10px;
  color: white;
  filter: contrast(0%) brightness(100%);
}

}


@media (min-width: 3000px){

  .services-main .item-main p,
  .services-main .item-main ul{

    font-size: 2vw;
}

}
